<a href="https://colab.research.google.com/github/ivnlee/deep-learning-intro/blob/main/dl_keras_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Regression model with Keras

In [1]:
#!pip install keras

Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (2.12.0)

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# load dataset from url
#concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')

In [4]:
# save dataset locally
#concrete_data.to_csv('/content/drive/MyDrive/DL_intro/concrete_data.csv')

In [7]:
concrete_data = pd.read_csv('/content/drive/MyDrive/DL_intro/concrete_data.csv', index_col=0)
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [8]:
concrete_data.shape

(1030, 9)

In [9]:
# Check for missing values
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [10]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

### Split data into predictors and targets

In [11]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [12]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### Normalize the data by substracting the mean and dividing by the standard deviation.

In [14]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

**Save the number of predictors to n_cols since we will need this number when building our network.**

In [15]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [16]:
import keras
from keras.models import Sequential
from keras.layers import Dense

### Build a Neural Network

In [21]:
def regression_model():
  #create model
  model = Sequential()
  model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
  model.add(Dense(50, activation='relu'))
  model.add(Dense(1))

  #compile model
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

**The above function create a model that has two hidden layers, each of 50 hidden units.**

### Train and test de network

In [22]:
# build the model
model = regression_model()

**Next, we will train and test the model at the same time using the fit method. We will leave out 30% of the data for validation and we will train the model for 100 epochs**

In [24]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 0s - loss: 30.8500 - val_loss: 126.1948 - 156ms/epoch - 7ms/step
Epoch 2/100
23/23 - 0s - loss: 30.8192 - val_loss: 122.9925 - 120ms/epoch - 5ms/step
Epoch 3/100
23/23 - 0s - loss: 30.4089 - val_loss: 124.8636 - 98ms/epoch - 4ms/step
Epoch 4/100
23/23 - 0s - loss: 30.0813 - val_loss: 123.1162 - 104ms/epoch - 5ms/step
Epoch 5/100
23/23 - 0s - loss: 29.2058 - val_loss: 129.5737 - 77ms/epoch - 3ms/step
Epoch 6/100
23/23 - 0s - loss: 29.0075 - val_loss: 123.4039 - 81ms/epoch - 4ms/step
Epoch 7/100
23/23 - 0s - loss: 28.5856 - val_loss: 117.5046 - 77ms/epoch - 3ms/step
Epoch 8/100
23/23 - 0s - loss: 28.3395 - val_loss: 124.1147 - 91ms/epoch - 4ms/step
Epoch 9/100
23/23 - 0s - loss: 28.2604 - val_loss: 129.1351 - 87ms/epoch - 4ms/step
Epoch 10/100
23/23 - 0s - loss: 27.9138 - val_loss: 119.8315 - 92ms/epoch - 4ms/step
Epoch 11/100
23/23 - 0s - loss: 27.5377 - val_loss: 127.9287 - 83ms/epoch - 4ms/step
Epoch 12/100
23/23 - 0s - loss: 27.3287 - val_loss: 129.4602 - 83ms/epoch - 4ms/step
Epoch 13/100
23/23 - 0s - loss: 26.9363 - val_loss: 121.7641 - 79ms/epoch - 3ms/step
Epoch 14/100
23/23 - 0s - loss: 27.4995 - val_loss: 118.4646 - 93ms/epoch - 4ms/step
Epoch 15/100
23/23 - 0s - loss: 26.5117 - val_loss: 134.4308 - 81ms/epoch - 4ms/step
Epoch 16/100
23/23 - 0s - loss: 26.8282 - val_loss: 125.8602 - 87ms/epoch - 4ms/step
Epoch 17/100
23/23 - 0s - loss: 26.1705 - val_loss: 115.1583 - 82ms/epoch - 4ms/step
Epoch 18/100
23/23 - 0s - loss: 25.8787 - val_loss: 121.4939 - 83ms/epoch - 4ms/step
Epoch 19/100
23/23 - 0s - loss: 25.5649 - val_loss: 118.9221 - 78ms/epoch - 3ms/step
Epoch 20/100
23/23 - 0s - loss: 25.4745 - val_loss: 127.3127 - 94ms/epoch - 4ms/step
Epoch 21/100
23/23 - 0s - loss: 24.9777 - val_loss: 125.2682 - 84ms/epoch - 4ms/step
Epoch 22/100
23/23 - 0s - loss: 25.2482 - val_loss: 118.9769 - 80ms/epoch - 3ms/step
Epoch 23/100
23/23 - 0s - loss: 25.2288 - val_loss: 116.1846 - 75ms/epoch - 3ms/step
Epoch 24/100
23/23 - 0s - loss: 25.2237 - val_loss: 122.1979 - 96ms/epoch - 4ms/step
Epoch 25/100
23/23 - 0s - loss: 24.8205 - val_loss: 129.5043 - 86ms/epoch - 4ms/step
Epoch 26/100
23/23 - 0s - loss: 24.2204 - val_loss: 126.9933 - 76ms/epoch - 3ms/step
Epoch 27/100
23/23 - 0s - loss: 23.7201 - val_loss: 115.9780 - 89ms/epoch - 4ms/step
Epoch 28/100
23/23 - 0s - loss: 23.5289 - val_loss: 128.3965 - 77ms/epoch - 3ms/step
Epoch 29/100
23/23 - 0s - loss: 24.7071 - val_loss: 125.2267 - 90ms/epoch - 4ms/step
Epoch 30/100
23/23 - 0s - loss: 24.6249 - val_loss: 128.1103 - 91ms/epoch - 4ms/step
Epoch 31/100
23/23 - 0s - loss: 22.8903 - val_loss: 115.0904 - 74ms/epoch - 3ms/step
Epoch 32/100
23/23 - 0s - loss: 23.0619 - val_loss: 127.3565 - 81ms/epoch - 4ms/step
Epoch 33/100
23/23 - 0s - loss: 22.7516 - val_loss: 114.8763 - 78ms/epoch - 3ms/step
Epoch 34/100
23/23 - 0s - loss: 22.7466 - val_loss: 121.9381 - 80ms/epoch - 3ms/step
Epoch 35/100
23/23 - 0s - loss: 22.5196 - val_loss: 116.1499 - 95ms/epoch - 4ms/step
Epoch 36/100
23/23 - 0s - loss: 22.5453 - val_loss: 122.3748 - 91ms/epoch - 4ms/step
Epoch 37/100
23/23 - 0s - loss: 22.1519 - val_loss: 123.4600 - 80ms/epoch - 3ms/step
Epoch 38/100
23/23 - 0s - loss: 22.2326 - val_loss: 121.2276 - 73ms/epoch - 3ms/step
Epoch 39/100
23/23 - 0s - loss: 22.0872 - val_loss: 115.1891 - 85ms/epoch - 4ms/step
Epoch 40/100
23/23 - 0s - loss: 21.8412 - val_loss: 119.1806 - 77ms/epoch - 3ms/step
Epoch 41/100
23/23 - 0s - loss: 21.4468 - val_loss: 121.0295 - 84ms/epoch - 4ms/step
Epoch 42/100
23/23 - 0s - loss: 21.3734 - val_loss: 114.7214 - 75ms/epoch - 3ms/step
Epoch 43/100
23/23 - 0s - loss: 20.8767 - val_loss: 126.4811 - 88ms/epoch - 4ms/step
Epoch 44/100
23/23 - 0s - loss: 21.7278 - val_loss: 131.6780 - 74ms/epoch - 3ms/step
Epoch 45/100
23/23 - 0s - loss: 21.2365 - val_loss: 112.8041 - 84ms/epoch - 4ms/step
Epoch 46/100
23/23 - 0s - loss: 21.3829 - val_loss: 115.7203 - 75ms/epoch - 3ms/step
Epoch 47/100
23/23 - 0s - loss: 20.6779 - val_loss: 108.8701 - 93ms/epoch - 4ms/step
Epoch 48/100
23/23 - 0s - loss: 20.3029 - val_loss: 116.1086 - 98ms/epoch - 4ms/step
Epoch 49/100
23/23 - 0s - loss: 20.2900 - val_loss: 112.3282 - 76ms/epoch - 3ms/step
Epoch 50/100
23/23 - 0s - loss: 20.6057 - val_loss: 111.2608 - 85ms/epoch - 4ms/step
Epoch 51/100
23/23 - 0s - loss: 20.2917 - val_loss: 117.4721 - 85ms/epoch - 4ms/step
Epoch 52/100
23/23 - 0s - loss: 20.4792 - val_loss: 113.6538 - 75ms/epoch - 3ms/step
Epoch 53/100
23/23 - 0s - loss: 19.6684 - val_loss: 112.2366 - 76ms/epoch - 3ms/step
Epoch 54/100
23/23 - 0s - loss: 19.6775 - val_loss: 118.2903 - 87ms/epoch - 4ms/step
Epoch 55/100
23/23 - 0s - loss: 19.7355 - val_loss: 107.2333 - 77ms/epoch - 3ms/step
Epoch 56/100
23/23 - 0s - loss: 19.3231 - val_loss: 122.5736 - 87ms/epoch - 4ms/step
Epoch 57/100
23/23 - 0s - loss: 19.7505 - val_loss: 108.9802 - 87ms/epoch - 4ms/step
Epoch 58/100
23/23 - 0s - loss: 18.9787 - val_loss: 118.0729 - 88ms/epoch - 4ms/step
Epoch 59/100
23/23 - 0s - loss: 19.1362 - val_loss: 118.2441 - 88ms/epoch - 4ms/step
Epoch 60/100
23/23 - 0s - loss: 18.7982 - val_loss: 120.4515 - 84ms/epoch - 4ms/step
Epoch 61/100
23/23 - 0s - loss: 18.8221 - val_loss: 119.3017 - 82ms/epoch - 4ms/step
Epoch 62/100
23/23 - 0s - loss: 19.6526 - val_loss: 122.2332 - 78ms/epoch - 3ms/step
Epoch 63/100
23/23 - 0s - loss: 19.4803 - val_loss: 111.1488 - 81ms/epoch - 4ms/step
Epoch 64/100
23/23 - 0s - loss: 19.6908 - val_loss: 113.1045 - 75ms/epoch - 3ms/step
Epoch 65/100
23/23 - 0s - loss: 19.8416 - val_loss: 122.5971 - 87ms/epoch - 4ms/step
Epoch 66/100
23/23 - 0s - loss: 18.7146 - val_loss: 115.7349 - 83ms/epoch - 4ms/step
Epoch 67/100
23/23 - 0s - loss: 17.8126 - val_loss: 110.4818 - 85ms/epoch - 4ms/step
Epoch 68/100
23/23 - 0s - loss: 17.9079 - val_loss: 125.3636 - 88ms/epoch - 4ms/step
Epoch 69/100
23/23 - 0s - loss: 18.3791 - val_loss: 115.4935 - 100ms/epoch - 4ms/step
Epoch 70/100
23/23 - 0s - loss: 17.8147 - val_loss: 113.9021 - 86ms/epoch - 4ms/step
Epoch 71/100
23/23 - 0s - loss: 17.7640 - val_loss: 105.6622 - 93ms/epoch - 4ms/step
Epoch 72/100
23/23 - 0s - loss: 17.5713 - val_loss: 106.7089 - 84ms/epoch - 4ms/step
Epoch 73/100
23/23 - 0s - loss: 18.0812 - val_loss: 105.4335 - 82ms/epoch - 4ms/step
Epoch 74/100
23/23 - 0s - loss: 17.8237 - val_loss: 105.2707 - 85ms/epoch - 4ms/step
Epoch 75/100
23/23 - 0s - loss: 17.8248 - val_loss: 107.4099 - 85ms/epoch - 4ms/step
Epoch 76/100
23/23 - 0s - loss: 17.5515 - val_loss: 108.8722 - 83ms/epoch - 4ms/step
Epoch 77/100
23/23 - 0s - loss: 17.4580 - val_loss: 118.0035 - 75ms/epoch - 3ms/step
Epoch 78/100
23/23 - 0s - loss: 17.4823 - val_loss: 108.4588 - 76ms/epoch - 3ms/step
Epoch 79/100
23/23 - 0s - loss: 17.3883 - val_loss: 104.9782 - 86ms/epoch - 4ms/step
Epoch 80/100
23/23 - 0s - loss: 17.2924 - val_loss: 99.7558 - 85ms/epoch - 4ms/step
Epoch 81/100
23/23 - 0s - loss: 17.5625 - val_loss: 102.0969 - 92ms/epoch - 4ms/step
Epoch 82/100
23/23 - 0s - loss: 16.7854 - val_loss: 101.8955 - 84ms/epoch - 4ms/step
Epoch 83/100
23/23 - 0s - loss: 16.7188 - val_loss: 114.5093 - 94ms/epoch - 4ms/step
Epoch 84/100
23/23 - 0s - loss: 16.7298 - val_loss: 108.9757 - 83ms/epoch - 4ms/step
Epoch 85/100
23/23 - 0s - loss: 16.6368 - val_loss: 118.7512 - 81ms/epoch - 4ms/step
Epoch 86/100
23/23 - 0s - loss: 16.7505 - val_loss: 116.9179 - 94ms/epoch - 4ms/step
Epoch 87/100
23/23 - 0s - loss: 16.5635 - val_loss: 116.6194 - 86ms/epoch - 4ms/step
Epoch 88/100
23/23 - 0s - loss: 16.4312 - val_loss: 105.9057 - 81ms/epoch - 4ms/step
Epoch 89/100
23/23 - 0s - loss: 16.8600 - val_loss: 109.4758 - 84ms/epoch - 4ms/step
Epoch 90/100
23/23 - 0s - loss: 16.2962 - val_loss: 103.1957 - 89ms/epoch - 4ms/step
Epoch 91/100
23/23 - 0s - loss: 16.2549 - val_loss: 98.6531 - 84ms/epoch - 4ms/step
Epoch 92/100
23/23 - 0s - loss: 16.6215 - val_loss: 99.3014 - 91ms/epoch - 4ms/step
Epoch 93/100
23/23 - 0s - loss: 16.1472 - val_loss: 106.8940 - 86ms/epoch - 4ms/step
Epoch 94/100
23/23 - 0s - loss: 15.8720 - val_loss: 108.2419 - 103ms/epoch - 4ms/step
Epoch 95/100
23/23 - 0s - loss: 15.7816 - val_loss: 104.3741 - 114ms/epoch - 5ms/step
Epoch 96/100
23/23 - 0s - loss: 16.3724 - val_loss: 99.2152 - 150ms/epoch - 7ms/step
Epoch 97/100
23/23 - 0s - loss: 16.4337 - val_loss: 102.3498 - 130ms/epoch - 6ms/step
Epoch 98/100
23/23 - 0s - loss: 15.8615 - val_loss: 107.5639 - 113ms/epoch - 5ms/step
Epoch 99/100
23/23 - 0s - loss: 15.8787 - val_loss: 113.5352 - 118ms/epoch - 5ms/step
Epoch 100/100
23/23 - 0s - loss: 15.8730 - val_loss: 105.7555 - 121ms/epoch - 5ms/step

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs